/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
 /* stylesheet Start*/

/* Fonte og fontstørrelser */

/* Afstande */

/* Farver */



 /* stylesheet slut*/

 /* Komponenter start --------------------------------------------------------*/


 /* knapper */

 .responsiveBtn {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Små skærme (mobile) */
@media (max-width: 600px) {
  .responsive-btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}

 /* Komponenter slut --------------------------------------------------------*/


 .textafsnit {
    
 }

 .topsektion {


 }



 /* Komponenter slut */

 